

.header__container{
  background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  flex-wrap: wrap;
}
.header__title {
  opacity: 0;
  animation: fade 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




.header__subtitle {
  opacity: 0;
  animation: fade 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header__btn {
  opacity: 0;
  animation: fade 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media  screen and (max-width:470px) {
  .header{
    background-image: none;
  }
}